/.env
/.vscode
/node_modules
node_modules
/dist
/logs
/config.json
/data
*.log
*.env
*.db
*.sqlite
*.sqlite3
.DS_Store
.idea
*.iml
*.sublime-project
*.sublime-workspace
*.vscode
.sftpconfig
.sftpconfig.json
.sftpconfig.js
.sftpconfig.yaml
.sftpconfig.yml
.sftpconfig.jsonc
.sftpconfig.json5
.sftpconfig.jsonc5
.sftpconfig.jsonc6
.sftpconfig.jsonc7
.sftpconfig.jsonc8
.sftpconfig.jsonc9
.sftpconfig.jsonc10
.sftpconfig.jsonc11 